/* Profile section styles */
.profile-section {
  position: fixed;
  top: 40px; /* Start below the header */
  bottom: 0px; /* Adjust this based on footer height */
  left: 0;
  width: 23%; 
  background-color: #f0f0f0; /* Optional background */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  transition: width 0.3s ease-in-out;
  z-index: 900;
  overflow-y: auto;
}

.profile-pic {
  width: 80%; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 10px;
}

.about-me {
  font-size: 0.9em; /* Adjust font size as needed */
  text-align: center;
  padding: 0 10px; /* Add some padding for better readability */
}

.profile-name {
  font-weight: bold;
  font-size: 18px; /* Adjust font size as needed */
  text-align: center;
}

.contact-section {
  position: absolute;
  bottom: 10px; /* Space from the bottom */
  width: 100%; /* Make sure it spans the full width */
  text-align: center;
}

.contact-top {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content */
  font-size: 0.8em; /* Smaller font size */
}

.contact-top p {
  margin-right: 10px; /* Space between text and icon */
}

.contact-center a {
  margin: 0 10px; /* Space between icons */
  color: black;
  text-decoration: none;
  font-size: 0.8em;
}

.contact-center a:hover {
  color: #0077B5; /* Change this to the hover color you prefer */
}

.icon {
  font-size: 25px; /* Adjust size as needed */
  margin: 0px;
}

.resume-download {
  color: black; /* Always black */
  text-decoration: underline; /* Always underlined */
  font-weight: normal; /* Normal weight by default */
}

.resume-download:hover {
  font-weight: bold; /* Bold on hover */
}


@media (max-width: 630px) {
  .profile-section {
      position: static;
      width: 100%;
      background-color: #f0f0f0; 
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 10px;
      z-index: 900;
      overflow-y: auto;
      top: 0;
      bottom: auto;
  }

  .profile-pic {
      width: 20%;
      height: auto; 
      margin-bottom: 0;
  }

  .profile-name {
    text-align: left;
    margin-left: 10px; /* Add some margin to move it to the right */
    flex: 1;
    display: flex;
    flex-direction: column; /* Make the name display in a column */
    justify-content: center; /* Center the text vertically */
  }
  
  .about-me {
    display: none; /* Hide the about-me section */
  }

  .icon {
      font-size: 23px; 
  }

  .contact-section {
    position: static;
    width: auto; 
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Move contact icons to the right */
    flex: 1;
    margin-right: 20px;
  }

}
